.palette{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: row;
    height: 12vmax;
    flex-basis: 40%;
    border-radius: 10px;
    margin: 15px;
}

.paletteDetails{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 70%;
}

.paletteImage{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.paletteTitle{
  color: white;
  font-size: 2.5vmax;
  font-weight: 500;
}

.paletteNameAndDate{
  color: white;
  font-size: 1.5vmax;
  margin-bottom: 15px;
}

.votesAndViews{
  width: 50%;
  padding: 10px;
  background-color: #1e76ae;
  color: white;
  font-size: 1.5vmax;
  font-weight: bolder;
}




@media screen and (max-width: 768px) {
    .palette {
      margin-left: 10px;
      flex-basis: 80%;
    }
  }

  